.unorderlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  body {
    background-color: lightblue ;
}

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(29, 249, 194);
      color: rgb(56, 52, 52);
      text-align: center;
    }

.graph {
  background-color: black;
  font-size: xx-large;
  color: whitesmoke;
}