body {
    background-color: lightblue ;
}

.bold {
        font-weight: bold; 
        font-style: normal;
        text-decoration: underline;
    }

.Headliner {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}

.Change {
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.info {
    color: grey;
}